/node_modules
/public/images
/public/admin
/public/client
/public/enterprise
/public/favicons
/public/storage
/public/hot
/public/*.ico
/storage/*.key
/storage/app/videos/
/storage/logs/
/storage/logs/laravel.log
storage/logs/laravel.log
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
npm-debug.log
/wiki
/resources/assets/client/transpiled_js
/resources/assets/admin/transpiled_js